###############################################################################
# GLIDEIN SERVICE CONFIGURATION
#
# This configuration file specifies configuration parameters for the glidein
# grid service.
#
# The service will look for this file in the following locations in order:
# 
# 1. The system property "glidein.config" (specified using 
#    -Dglidein.config=path when launching the service container's JVM)
# 2. The environment variable $GLIDEIN_CONFIG
# 3. $HOME/.glidein/glidein.config
# 4. $GLOBUS_LOCATION/etc/glidein_service/glidein.config
#
# The first location that contains a readable file wins and all properties
# will be loaded from that file.
#
# Values in this file can contain expressions that will be evaluated at runtime
# by the service. These expressions have the form: ${NAMESPACE:KEY} or
# ${KEY} where NAMESPACE specifies the type of key and KEY is the name of the
# variable or property to retrieve. Acceptable namespaces are "env", which 
# can be used for environment variables available to the Globus container, and
# "sys", which can be used for system properties available via the container's 
# JVM. Examples include:
#
# some.dir = ${sys:user.home}/somedir # a directory under the home dir of the
#                                     # user who launched the container
# some.file = ${some.dir}/somefile    # a file in the above directory
# some.path = ${env:PATH}             # a copy of the PATH environment variable
#                                     # of the user who launched the container
#
# These expressions are evaluated recursively, so if the value of an 
# expression contains a sub-expression, the sub-expression will be 
# transliterated as well. Other than that, it is a regular Java properties 
# file.
#
###############################################################################

# Path to the glidein install directory
glidein.home = ${env:GLIDEIN_HOME}

# Path to the globus installation directory
globus.location = ${env:GLOBUS_LOCATION}

# Path to the working directory for the service
work.dir = ${globus.location}/tmp/glidein_service
#work.dir = /var/tmp/glidein_service

# The path to the Condor home directory
condor.home = ${env:CONDOR_HOME}
#condor.home = /opt/condor/default

# The path to the Condor bin directory
condor.bin = ${condor.home}/bin

# The path to the Condor configuration file
condor.config = ${env:CONDOR_CONFIG}
#condor.config = /etc/condor/condor_config

# Urls for servers where glidein executables are stored. Allowed protocols: ftp:// http:// gsiftp://
glidein.servers = http://array.usc.edu/glidein/binaries,\
	http://www.cs.wisc.edu/condor/glidein/binaries,\
	gsiftp://gridftp.cs.wisc.edu/p/condor/public/binaries/glidein